.add-name {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0 10px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    font-family: "Pacifico Regular", 'Arial', serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    color: #71c9ce;
    text-shadow: 1px 1px 0 rgb(140, 138, 102);
    padding: 0 20px;
  }

  &__form {
    margin: 0 auto;

    .form__btn:active {
      span {
        background-color: #272727;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 2px 3px 6px;
      }
    }
  }
}