.journey-create {
  height: 100%;
  padding: 0 10px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    font-family: "Pacifico Regular", 'Arial', serif;
    text-align: center;
    font-size: 40px;
    color: #71c9ce;
    text-shadow: 1px 1px 0 rgb(140, 138, 102);
    padding: 0 20px;
    font-weight: normal;
  }
}