.new-expense {
  height: 100%;
  padding: 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__form {
    background: none;
  }

  &__status-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    line-height: 30px;
    margin-top: 20px;
  }

  &__text-btn {
    font-family: 'Open Sans Semibold', 'Arial', sans-serif;
    min-width: 100px;
  }

  &__block {
    display: flex;
    align-items: center;
    position: relative;

    .tooltip {
      position: static;
      margin-left: 5px;
    }
  }

  &__or {
    flex: 1;
    position: relative;
    font-size: 12px;
    text-align: center;
    margin: 0 10px;

    span {
      background: #cbf1f5;
      position: relative;
      display: inline-block;
      z-index: 1;
      padding: 0 8px;
    }

    &:after {
      content: "";
      height: 0;
      display: block;
      border-top: 1px solid rgba(49, 49, 49, 0.3);
      position: absolute;
      width: 100%;
      top: 16px;
    }
  }
}

@media only screen and (max-device-width: 400px) {
  .new-expense__status-info {
    flex-wrap: wrap;
  }

  .new-expense__block {
    display: block;
    text-align: center;
    width: 100%;
  }

  .new-expense__or {
    display: block;
    flex-basis: 100%;
    margin: 0;

    text-align: center;
  }

  .new-expense__block {
    .tooltip {
      position: absolute;
      right: 0;
    }
  }
}
