.new-expense {
  height: 100%;
  padding: 0;

  //&__header {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  padding: 10px;
  //  position: relative;
  //  background: #71c9ce;
  //}
  //
  //&__back-btn {
  //  a {
  //    text-decoration: none;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    height: 100%;
  //    padding: 0 15px;
  //
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //
  //    color: #313131;
  //  }
  //}

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__form {
    background: none;
  }

  //&__title {
  //  font-family: "Pacifico Regular", 'Arial', serif;
  //  text-align: center;
  //  font-size: 40px;
  //  font-weight: normal;
  //  color: #71c9ce;
  //  text-shadow: 1px 1px 0 rgb(140, 138, 102);
  //  padding: 0 20px;
  //}

  &__status-info {
    line-height: 30px;
    margin-top: 20px;
  }

  &__text-btn {
    margin: 0 5px;
    font-family: 'Open Sans Semibold', 'Arial', sans-serif;
    min-width: 100px;
  }

  &__block {
    display: flex;
    align-items: center;

    & + & {
      border-top: 1px solid #71c9ce;
      margin-top: 5px;
      padding-top: 5px;
    }

    span {
      flex: 1;
    }
  }
}