.tooltip {
  width: 30px;
  height: 30px;
  border: 1px solid #71c9ce;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #cbf1f5;

  position: relative;

  i {
    font-family: 'Open Sans SemiBold', 'Arial', sans-serif;
    font-style: normal;
  }

  &__text {
    position: absolute;
    bottom: 100%;
    right: -23px;
    z-index: 2;

    width: 180px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #71c9ce;
    border-radius: 6px;

    line-height: normal;
    font-size: 12px;
    background: #a6e3e9;
  }
}
