.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #cbf1f5;

  &__body {
    height: 100%;
  }

  &__switcher {
    position: relative;
    height: 100%;
  }

  &__loader {
    text-align: center;
    padding: 30% 0;
  }

  &__page {
    &--enter {
      opacity: 0;
      transition: opacity 300ms;
      position: absolute;
      width: 100%;
      top: 0;
    }

    &--enter-active {
      opacity: 1;
      transition: opacity 300ms;
    }

    &--exit {
      opacity: 1;
      transition: opacity 300ms;
      position: absolute;
      width: 100%;
      top: 0;
    }

    &--exit-active {
      opacity: 0;
      transition: opacity 300ms;
    }
  }
}

nav {
  button {
    position: fixed;
    bottom: 0;
    background: #9ad09a;
    color: #fff;
    z-index: 999;
  }
}