.form {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background: #a6e3e9;

  &__title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
    color: #313131;
    font-weight: normal;
  }

  &__group {
    position: relative;
    margin-bottom: 10px;
  }

  &__row {
    position: relative;

    & + & {
      margin-top: 30px;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s;
    color: rgba(39, 39, 39, 0.5);
    pointer-events: none;
  }

  &__input {
    border: none;
    border-bottom: 1px solid rgba(5, 5, 24, 0.3);
    background: transparent;
    padding: 0 0 5px 0;
    width: 100%;
    outline: none;
    transition: 0.3s;
    border-radius: 0;

    &:focus {
      border-bottom-color: rgba(5, 5, 24, 1);
    }

    &:not(:placeholder-shown) ~ .form__label,
    &:focus ~ .form__label {
      top: -18px;
      font-size: 12px;
      text-shadow: none;
      color: #272727
    }
  }

  &__btn-group {
    margin-top: 15px;
  }

  &__btn-row {
    & + & {
      margin-top: 15px;
    }
  }

  &__btn {
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    background: #71c9ce;
    outline: none;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
    user-select: none;
    position: relative;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 3px 0 0 #66b5b9, 0 3px 0 2px #ccd2d2, 0 12px 20px 6px #d5dbdb;
    text-align: center;
    font-size: 18px;
    -webkit-tap-highlight-color: rgba(black, 0);
    line-height: normal;

    &--white {
      background: #fff;
      color: #313131;
      box-shadow: 0 3px 0 0 #e9edee, 0 3px 0 2px #ccd2d2, 0 12px 20px 6px #d5dbdb;
      font-size: 16px;

      &:active {
        background-color: whitesmoke;
        color: rgba(49, 49, 49, 0.5);
        box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.5);
      }
    }

    &:focus {
      text-shadow:none;
    }

    &:active {
      top: 3px;
      box-shadow: 0 1px 0 2px #ccd2d2, 0 7px 20px 6px #d5dbdb;
    }

    & + & {
      margin-left: 10px;
    }

    &[disabled] {
      background: #cecece;
      box-shadow: 0 3px 0 0 #c1c0c0, 0 3px 0 2px #ccd2d2, 0 12px 20px 6px #d5dbdb;
    }
  }
}

.check-radio {
  font-family: 'Open Sans Regular', 'Arial', sans-serif;

  &__label {
    display: flex;
    width: 100%;
    position: relative;

    padding: 5px 30px 5px 6px;
    border: 2px solid #71c9ce;
    border-radius: 5px;
    background: #e3fdfd;
    font-size: 15px;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + label {
      font-family: 'Open Sans Semibold', 'Arial', sans-serif;
      background: #cbf1f5;

      &:after {
        content: '✓';
        padding: 0 5px 0 2px;
        position: absolute;
        right: 5px;
      }
    }
  }

  &--row {
    & + & {
      border-top: 1px solid #71c9ce;
    }
    .check-radio__label{
      border-width: 0;
      border-radius: 0;
      padding: 10px;
    }

    .check-radio__input {
      &:checked + label {
        &:before {
          content: '✓';
          padding: 0 6px 0 2px;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

.checkbox-switcher {
  position: relative;
  width: 58px;
  height: 28px;

  margin-right: 14px;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .track {
      background-color: #71c9ce;
    }

    &:checked + .track:before {
      transform: translateX(28px);
    }
  }

  .track {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 49, 49, 0.3);
    transition: 0.25s;

    &:before {
      position: absolute;
      content: "";
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      background-color: #fafafa;
      transition: 0.25s;
    }
  }

  .thumb {
    border-radius: 35px;

    &:before {
      top: -1px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
